# Build output
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# DLLs and executables
*.dll
*.exe

# EF Core design-time files
Migrations/*.Designer.cs
Migrations/*Snapshot.cs

# Cache
*.dbmdl
*.bak
*.cache
